* {background-color: black}


/* FOOTER */

.social-icon {
  color: grey;
}

.facebook-icon:hover {
  color: #1877f2; /* Facebook official color */
}

.instagram-icon:hover {
  color: #e1306c; /* Instagram official color */
}

.twitter-icon:hover {
    color: #1da1f2; /* Twitter official color */
  }

.linkedin-icon:hover {
  color: #0a66c2; /* LinkedIn official color */
}

.bi.bi-arrow-up-circle.h1:hover {
    color: white;
  }
  